@page "/game"
@inject IJSRuntime JSRuntime

<!-- Mathilda Eriksson, HT23, DT071G -->

<PageTitle>Spel</PageTitle>

<h1>Dreamy Pixel Quest</h1>
<!-- Bakgrundsmusik -->
<audio @ref="backgroundMusic" id="backgroundMusic" autoplay loop>
    <source src="/sound/theme.mp3" type="audio/mpeg">
    Din webbläsare stöder inte audio elementet.
</audio>

<!-- Panel som visar antal liv, insamlade diamanter och musikkontroll -->
<div class="top-bar">
    <div class="lives-container">
        @for (int i = 0; i < player.Lives; i++)
        {
            <img src="images/heart_full.png" />
        }
        @for (int i = player.Lives; i < 3; i++)
        {
            <img src="images/heart_empty.png" />
        }
    </div>
    <div class="diamonds-container">
        <img src="images/diamond.png" style="padding-right:5px" />
        @player.CollectedDiamonds / @totalDiamonds
    </div>

    <!-- Musikkontroll med checkbox -->
    <div id="music-checkbox">
        <label for="music-toggle" class="label-text">Bakgrundsmusik</label>
        <input type="checkbox" @onchange="ToggleMusic" checked="@isMusicPlaying" id="music-toggle" />
    </div>

</div>

<!-- Huvudspelbräde med tangentbordskontroller -->
<div class="game-board" @ref="gameBoardRef" style="width:@(gameBoard.Width)px; height:@(gameBoard.Height)px;" tabindex="0"
         @onkeydown="HandleKeyPress" @onkeyup="HandleKeyUp">

    <!-- Visa startmeny, level avklarad, game over eller spelet avklarat baserat på spelets nuvarande tillstånd -->
    @if (currentState == GameState.StartMenu)
    {
        <!-- Startmeny med knapp för att börja spela -->
        <div class="menu-overlay"> 
            <div class="menu-container">
                <img src="/images/logo.png" alt="Logga" />
                <button class="btn btn-info" @onclick="StartGame">Starta spel</button>
			</div>
        </div>
    }
    else if (currentState == GameState.LevelCompleted)
    {
        <!-- Level avklarad med knapp för nästa level -->
        <div class="menu-overlay">
            <div class="menu-container">
                <img src="/images/logo.png" alt="Logga" />
                <p class="text-white m-0 p-0 pt-2 text-center">Banan klar!</p>
                <button class="btn btn-info" @onclick="NextLevel">Nästa bana</button>
            </div>
        </div>
    }
    else if (currentState == GameState.GameOver)
    {
        <!-- Game Over med knapp för att spela igen -->
        <div class="menu-overlay">
            <div class="menu-container">
                <img src="/images/logo.png" alt="Logga" />
                <p class="text-white m-0 p-0 pt-2 text-center">Game Over</p>
                <button class="btn btn-info" @onclick="StartGame">Spela igen</button>
            </div>
        </div>  
    } else if (currentState == GameState.GameCompleted)
    {
        <!-- Spelet avklarat, knapp för att spela igen -->
        <div class="menu-overlay">
            <div class="menu-container">
                <img src="/images/logo.png" alt="Logga" />
                <p class="text-white m-0 p-0 pt-2 text-center">Grattis! Du har klarat spelet!</p>
                <button class="btn btn-info" @onclick="StartGame">Spela igen</button>
            </div>
        </div>
    }

    <!-- Rendera spelaren, fiender, plattformar och diamanter -->
    <div class="player @GetPlayerCssClass()" style="left:@(player.X)px; top:@(player.Y)px;"></div>

         @foreach (var enemy in enemies)
        {
            <div class="enemy" style="left:@(enemy.X)px; top:@(enemy.Y)px; width:@(enemy.Width)px; height:@(enemy.Height)px;"></div>
        }               

        @foreach (var platform in platforms)
        {
            <div class="platform" style="left:@(platform.X)px; top:@(platform.Y)px;">
                <img src="images/platformLeftEnd.png" />
                @for (int i = 0; i < platform.Width / 18 - 2; i++)
                {
                    <img src="images/platformMiddle.png" />
                }
                <img src="images/platformRightEnd.png" />
            </div>
        }

        @foreach (var diamond in diamonds)
        {
            <img src="/images/diamond.png" class="diamond" style="left:@(diamond.X)px; top:@(diamond.Y)px;" />
        }
    </div>

@code {
    // Variabler
    private Player player;
    private GameBoard gameBoard;
    private Timer gameLoopTimer;
    private GameManager gameManager = new GameManager();
    private List<Platform> platforms = new List<Platform>();
    private List<Enemy> enemies = new List<Enemy>();
    private List<Diamond> diamonds = new List<Diamond>();
    private bool movingLeft = false;
    private bool movingRight = false;
    private bool jumping = false;
    private int groundLevel;
    private int totalDiamonds;
    private ElementReference backgroundMusic;
    private bool isMusicPlaying = true;
    private GameState currentState = GameState.StartMenu;
    private ElementReference gameBoardRef;

    //Enums för GameState
    public enum GameState
    {
        StartMenu,
        InGame,
        LevelCompleted,
        GameOver, 
        GameCompleted
    }    

    // Initierar komponenten
    protected override void OnInitialized()
    {
        // Skapar och konfigurerar spelbrädet och spelaren
        gameBoard = new GameBoard { Width = 800, Height = 600 };
        player = new Player { X = 0, IsOnGround = true };
        player.Y = gameBoard.Height - player.Height;
        groundLevel = gameBoard.Height - player.Height;
        totalDiamonds = diamonds.Count;
        gameManager.OnStateChanged = StateHasChanged;
    }

    // Hanterar tangenttryckningar
    private void HandleKeyPress(KeyboardEventArgs e)
    {
        switch (e.Key)
        {
            case "ArrowLeft":
                movingLeft = true;
                break;
            case "ArrowRight":
                movingRight = true;
                break;
            case " ":
                jumping = true;
                break;
        }
    }

    // Hanterar när tangenten släpps upp
    private void HandleKeyUp(KeyboardEventArgs e)
    {
        switch (e.Key)
        {
            case "ArrowLeft":
                movingLeft = false;
                break;
            case "ArrowRight":
                movingRight = false;
                break;
            case " ":
                jumping = false;
                break;
        }
    }

    // Startar spelet
    private async Task StartGame()
    {
        gameManager.StartGame();
        LoadLevel(gameManager.CurrentLevel);
        // Fokuserar spelplanen
        await JSRuntime.InvokeVoidAsync("focusElement", gameBoardRef);
    }

    // Laddar in en specifik nivå
    private void LoadLevel(int levelNumber)
    {
        startGameLoopTimer();

        // Rensa nuvarande speldata
        platforms.Clear();
        diamonds.Clear();
        enemies.Clear();

        // Återställ spelaren
        ResetPlayer();        

        // Lägg till ny speldata baserat på level
        var levelData = gameManager.GetLevelData(levelNumber);
        platforms.AddRange(levelData.Platforms);
        diamonds.AddRange(levelData.Diamonds);
        enemies.AddRange(levelData.Enemies);        

        // Uppdatera totala antalet diamanter
        totalDiamonds = diamonds.Count;

        currentState = GameState.InGame;
    }

    // Återställer spelaren till startpositionen
    private void ResetPlayer()
    {
        player = new Player { X = 0, Y = gameBoard.Height - player.Height, Lives = 3, IsOnGround = true };
    }

    // Startar spel-loopens timer
    private void startGameLoopTimer()
    {
        gameLoopTimer = new Timer(_ => GameLoop(), null, 0, 30);
    }

    // Laddar nästa level
    private async Task NextLevel()
    {
        LoadLevel(gameManager.NextLevel());
        // Fokuserar spelplanen
        await JSRuntime.InvokeVoidAsync("focusElement", gameBoardRef);
    }

    // Spel-loopen
    private void GameLoop()
    {
        // Itererar över alla fiender och flyttar dem
        foreach (var enemy in enemies)
        {
            enemy.Move(gameBoard);

            // Kontrollerar kollision mellan spelaren och fienden
            bool collisionDetected = player.CheckCollisionWithEnemy(enemy);
            if (collisionDetected)
            {
                // Om det finns en kollision och spelaren inte har några liv kvar
                if (player.Lives <= 0)
                {
                    // Game Over
                    currentState = GameState.GameOver;
                    Dispose();
                    break;
                }
            }
        }

        // Spelaren blinkar om den precis förlorat ett liv och är immun
        player.UpdateBlinking();

        // Uppdaterar spelarens tidigare Y-position för kollisionsdetektering
        player.PreviousY = player.Y;

        // Hantera spelarrörelse och kollision
        if (movingLeft) { player.MoveLeft(5, gameBoard.Width); }
        if (movingRight) { player.MoveRight(5, gameBoard.Width); }

        // Tillämpar gravitation på spelaren och kontrollerar kollision med plattformar
        player.ApplyGravity(2, groundLevel);
        player.HandlePlatformCollisions(platforms);
        player.CheckIfOnGround(platforms, groundLevel);

        if (jumping && player.IsOnGround) { player.Jump(); } // Gör att spelaren hoppar om mellanslag trycks och spelaren är på marken

        // Kontrollerar om alla diamanter är insamlade
        if ((player.CollectedDiamonds == totalDiamonds) && totalDiamonds > 0)
        {
            // Alla diamanter har samlats in, banan klar
            currentState = GameState.LevelCompleted;
            Dispose();
            
            if (gameManager.IsLastLevel())
            {
                // Alla banor avklarade
                currentState = GameState.GameCompleted;
            }
            else
            {
                // Gå till nästa bana
                currentState = GameState.LevelCompleted;
            }
            
        }
        // Kontrollerar om spelaren kolliderar med och samlar diamanter
        player.CollectDiamonds(diamonds);

        // Uppdaterar komponenten för att reflektera eventuella ändringar
        StateHasChanged();
    }

    //Uppdaterar spelarens CSS vid blinkning vid immunitet
    private string GetPlayerCssClass()
    {
        return player.IsBlinking ? "player blinking" : "player";
    }

    // Spelar musik
    private async Task PlayMusic()
    {
        await JSRuntime.InvokeVoidAsync("playAudio", backgroundMusic);
    }

    // Pausar musik
    private async Task PauseMusic()
    {
        await JSRuntime.InvokeVoidAsync("pauseAudio", backgroundMusic);
    }

    //Byter mellan att spela och pausa musiken
    private async Task ToggleMusic()
    {
        isMusicPlaying = !isMusicPlaying;

        if (isMusicPlaying)
        {
            await PlayMusic();
        }
        else
        {
            await PauseMusic();
        }
    }

    // Rensar resurser
    public void Dispose()
    {
        gameLoopTimer?.Dispose();
    }
}
