@page "/game"
@inject IJSRuntime JSRuntime

<PageTitle>Spel</PageTitle>

<h1>Spel</h1>
<audio @ref="backgroundMusic" id="backgroundMusic" autoplay loop>
    <source src="/sound/theme.mp3" type="audio/mpeg">
    Din webbläsare stöder inte audio elementet.
</audio>

<div class="game-board" style="width:@(gameBoard.Width)px; height:@(gameBoard.Height)px;" tabindex="0"
     @onkeydown="HandleKeyPress" @onkeyup="HandleKeyUp">

    <div class="top-bar">
        <div class="lives-container">
            @for (int i = 0; i < player.Lives; i++)
            {
                <img src="images/heart_full.png" />
            }
            @for (int i = player.Lives; i < 3; i++)
            {
                <img src="images/heart_empty.png" />
            }
        </div>
        <div class="diamonds-container">
            <img src="images/diamond.png" style="padding-right:5px"/>
           @player.CollectedDiamonds / @totalDiamonds
        </div>

        <div id="music-checkbox">
            <label for="music-toggle" class="label-text">Bakgrundsmusik</label>
            <input type="checkbox" @onchange="ToggleMusic" checked="@isMusicPlaying" id="music-toggle" />
        </div>

     </div>

    <div class="enemy" style="left:@(enemy.X)px; top:@(enemy.Y)px; width:@(enemy.Width)px; height:@(enemy.Height)px;"></div>

    <div class="player" style="left:@(player.X)px; top:@(player.Y)px;"></div>

    @foreach (var platform in platforms)
    {
            <div class="platform" style="left:@(platform.X)px; top:@(platform.Y)px;">
            <img src="images/platformLeftEnd.png" />
            @for (int i = 0; i < platform.Width / 18 - 2; i++)
            {
                <img src="images/platformMiddle.png" />
            }
            <img src="images/platformRightEnd.png" />
        </div>
    }

    @foreach (var diamond in diamonds)
    {
        <img src="/images/diamond.png" class="diamond" style="left:@(diamond.X)px; top:@(diamond.Y)px;" />
    }
</div>

@code {

    private Player player;
    private GameBoard gameBoard;
    private Timer gameLoopTimer;
    private Enemy enemy;
    private bool movingLeft = false;
    private bool movingRight = false;
    private bool jumping = false;
    private List<Platform> platforms = new List<Platform>();
    private ElementReference backgroundMusic;
    private bool isMusicPlaying = true;
    private int groundLevel;
    private List<Diamond> diamonds = new List<Diamond>();
    private int totalDiamonds;

    protected override void OnInitialized()
    {
        gameBoard = new GameBoard { Width = 800, Height = 600 };
        player = new Player { X = 0, IsOnGround = true };
        player.Y = gameBoard.Height - player.Height;
        gameLoopTimer = new Timer(_ => GameLoop(), null, 0, 30);
        platforms.Add(new Platform(200, 520, 72, 18));
        platforms.Add(new Platform(300, 450, 90, 18));
        enemy = new Enemy(300, 380, 24, 24, 2);
        groundLevel = gameBoard.Height - player.Height;
        diamonds.Add(new Diamond { X = 100, Y = 500 });
        diamonds.Add(new Diamond { X = 200, Y = 450 });
        diamonds.Add(new Diamond { X = 300, Y = 400 });
        totalDiamonds = diamonds.Count;
    }

    private void HandleKeyPress(KeyboardEventArgs e)
    {
        switch (e.Key)
        {
            case "ArrowLeft":
                movingLeft = true;
                break;
            case "ArrowRight":
                movingRight = true;
                break;
            case " ":
                jumping = true;
                break;
        }
    }

    private void HandleKeyUp(KeyboardEventArgs e)
    {
        switch (e.Key)
        {
            case "ArrowLeft":
                movingLeft = false;
                break;
            case "ArrowRight":
                movingRight = false;
                break;
            case " ":
                jumping = false;
                break;
        }
    }

    private void GameLoop()
    {
        enemy.Move(gameBoard);
        CheckCollisionWithEnemy();
        

        player.PreviousY = player.Y;

        // Hantera spelarrörelse och kollision
        if (movingLeft) { player.MoveLeft(5, gameBoard.Width); }
        if (movingRight) { player.MoveRight(5, gameBoard.Width); }


        player.ApplyGravity(2, platforms, groundLevel);
        player.CheckCollisionWithEnemy(enemy);
        player.CheckIfOnGround(platforms, groundLevel);

        if (jumping && player.IsOnGround) { player.Jump(); }

        if (player.CollectedDiamonds == totalDiamonds)
        {
            // Alla diamanter har samlats in
        }

        player.CollectDiamonds(diamonds);
        StateHasChanged();
    }

    private void CheckCollisionWithEnemy()
    {
        if (player.X < enemy.X + enemy.Width &&
            player.X + player.Width > enemy.X &&
            player.Y < enemy.Y + enemy.Height &&
            player.Y + player.Height > enemy.Y)
        {
            // Kollision detekterad
            player.Lives--; // TODO Se till att inte mer än 1 liv tas vid en kollision 
            if (player.Lives <= 0)
            {
                // Hantera Game Over
            }
            else
            {
                
            }
        }
    }

    private async Task PlayMusic()
    {
        await JSRuntime.InvokeVoidAsync("playAudio", backgroundMusic);
    }

    private async Task PauseMusic()
    {
        await JSRuntime.InvokeVoidAsync("pauseAudio", backgroundMusic);
    }

    private async Task ToggleMusic()
    {
        isMusicPlaying = !isMusicPlaying;

        if (isMusicPlaying)
        {
            await PlayMusic();
        }
        else
        {
            await PauseMusic();
        }
    }

    public void Dispose()
    {
        gameLoopTimer?.Dispose();
    }

}
