@page "/"

<PageTitle>Home</PageTitle>

<h1>Hej!</h1>

<p>Välkommen till min spelsida för projektet i kursen DT071G - Programmering i C#.NET</p>
<!-- Spelinstruktioner -->
<div class="mt-2">
	<h2>Spelinstruktioner</h2>
	<p>
		<h3>Styrning:</h3>
		Gå: Använd vänster och höger piltangent för att flytta din karaktär åt vänster respektive höger.<br />
		Hoppa: Tryck på mellanslagstangenten för att få din karaktär att hoppa.<br />
	</p>
	<p>
		<h3>Mål:</h3>
		Samla diamanter: Ditt mål är att samla alla diamanter som finns på varje bana.<br />
		Undvik fiender: Se upp för fiender som rör sig på banan. Att kollidera med dem kan kosta dig ett liv.<br />
	</p>
	<p>
		<h3>Liv:</h3>
		Du börjar varje bana med tre liv.
		Förlorar du alla liv, är spelet över och du börjar om från början.<br />
	</p>
</div>
<p>Mathilda Eriksson, HT23</p>
